body {
  font-family: "Fredoka";
  background: #9FD891;
}

hr {
  height: 1px;
  border: none;
  background: linear-gradient(90deg, #07667B 0%, #ffffff00 100%);
}

a {
  color:#A7B5E1;
}

a:hover, a:focus, a:active {
  color: #91c9ff;
}

#utr .container {
  font-family: "Saira";
  color: #E2E6F2;
  font-size: 16px;
}

#utr .container img:not(.borderless) {
  border: 1px solid #A7B5E150;
}

[class*="mockup-wrapper"] picture {
    filter: drop-shadow(2px 2px 2px #1a1b35) drop-shadow(12px 12px 10px #1a1b35);
}

[class*="mockup-wrapper"] picture img {
  border: none!important;
}

.container .area-header-link {
  background: #FFFDF7;
  padding: 20px calc(10px + 2.5vw);
  border-radius: 10px;
  margin: 10px 0;
}

#typography-cat-tracks li {
  margin: 0;
  display: flex;
  align-items: center;
} 

#typography-cat-tracks h1 {
  font-family: "Jua", sans-serif;
  margin: 0;
  line-height: 1;
}

#typography-cat-tracks h2 {
  font-family: "Fredoka", serif;
  font-weight: 500;
  margin: 0;
}

#typography-cat-tracks {
  font-family: "Fredoka", serif;
}

.swatch {
  border-color:#E2E6F2;
}