/*
Colors used:
Background (Cream): #FFF8F0;
Primary Text (Dark Brown): #2F2E3C;
Link (Dark Green): #33484B;
Link Hover/Active/Etc (Dark Lavendar): #867fdc;
Accent 1 (Lavendar): #B4AEF1;
Accent 2 (Blue): #91c9ff;
*/

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Akshar:wght@300..700');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700');
@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

* {
  box-sizing: border-box;
}

html {
  background: #33484b;
  scroll-behavior: smooth; 
}

body {
  background: #FFF8F0;
  font-family: 'Fredoka', sans-serif;
  color: #2F2E3C;
  font-weight: 350;
  font-size: 18px;
  line-height: 1.6;
}

body {
  animation: 1000ms fade-in;
}

footer {
  background: #FFF8F0;
}

main {
  padding-top: 115px;
  overflow: hidden;
}

footer {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #33484B;
  padding-bottom: 5px;
}

p.copyright { 
  color: #2F2E3C;
}

b, strong {
  font-weight: 500;
}

h1, h3, h4, h5 {
  font-weight: 500;
}

h2 {
  font-weight: 600;
}

h1,h2 {
  font-family: 'Cabin Sketch', sans-serif;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
}

h2, h3, h4 {
  margin: 10px 0;
}

h3 {
  position: relative;
}

h3:after {
  content: "";
  position: absolute;
  display: block;
  width:  100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(51,72,75,1) 0%, rgba(51,72,75,0) 100%);
}

hr {
  height: 1px;
  border: none;
  background: linear-gradient(90deg, rgba(51,72,75,1) 0%, rgba(51,72,75,0) 100%);
}

.project-page h3:after {
  content: none;
}

h5 {
  display: inline-block;
  margin: 0;
}

a {
  color: #407880;
  transition: 300ms ease;
  text-decoration: none;
  font-weight: 400;
}

a:hover, a:focus, a:active {
  color: #867fdc
}

img {
  max-width: 100%;
  border-radius: 5px;
  margin: 0 auto;
}

/** I usually upload larger images bc I find the quality just... looks worse, but I certainly don't want anything *smaller* than the screen to stretch - 
 * so I'm using max width and an auto margin to center anything smaller, rather than stretching everything to 100% **/

ul {
  padding: 0 15px;
  margin: 0;
}

hr {
  margin: 20px 0;
}

header ul, footer ul {
  padding: 0;
  list-style-type: none;
  margin: 10px 0;
}

/******************** Home Page Styling ******************/

main#home {
  padding-top: 0;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero p {
  font-size: 20px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#home .menu-icon {
    display: none;
  }

#home nav {
    float: none;
  }

#home nav ul {
  display: flex;
  align-items: center;
  padding: 0;
}

#home nav ul li {
  margin-right: 10px;
}

/******************** Layout Styling ********************/

.container {
  padding: 0 15px;
  margin: 20px auto;
  max-width: 1200px;
}

.subtitle {
  font-size: 80%;
  opacity: 0.8;
}

/** I know it says to use a container for each section, so I have - why 
 * is this better than wrapping the whole main content in one container though? It seems like extra divs for no reason **/

#hero {
  padding: 30px 20px;
  background: #586960;
  color: white;
  min-height: 100vh;
}

#hero h1 {
  margin: 0;
}

#hero p {
  margin: 10px 0;
}

.row {
  margin: 25px 0;
}

.icon-row {
  display: flex;
  align-items: center;
  justify-content: left;
  color: #FFF8F0;
  font-size: 1.6em;
  text-align: left;
}

.icon-row a {
  color: #FFF8F0;
  text-decoration: none;
  height: 65px;
}

.icon-row img {
  margin-right: 20px;
}

.project-container {
  border-bottom: 1px dashed #33484B;
  margin: 0;
  padding: 25px 0;
}

.project-container:last-child {
  border-bottom: none;
}

/** this removes the bottom border from the last project, so it doesn't look weird with the footer's top border 
 * Also, are dashed borders tacky? I think they have a fun vibe but I know it's not really proffessional. Not sure if a solid border or a gradiated
 * div divider would be more appropriate. **/

p.project-description {
  margin: 10px 0;
}

#navigation {
  margin: 0;
  position: fixed;
  box-shadow: 0 2px 5px #131e20;
  width: 100%;
  top: 0;
  z-index: 3;
}

#home #navigation {
  position: unset;
  background: none;
  box-shadow: none;
  padding: 0;
}

#navigation a:hover,  #navigation a:focus, #navigation a:active {
  color: #B4AEF1;
}

nav > ul {
  margin-bottom: 0;
}

nav > ul {
  margin: 0;
}

.navtoggle {
  background: #33484B;
  padding: 15px 20px;
  transition: height 200ms ease;
  height: 90px;
}

#navtoggle-icon {
    display: flex;
    flex-direction: column;
    position: relative;
}

#navtoggle-icon img {
    width: 35px;
}

.left-line, .right-line {
  margin: 4px 0;
  transition: 200ms ease;
}

#navtoggle-icon.open .left-line {
    transform: rotate(45deg);
}

#navtoggle-icon.open .right-line {
    transform: rotate(-45deg);
    position: absolute;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li:last-child {
  display: inline;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
  font-size: 85%;
}

.navtoggle .icon {
  position: absolute;
  right: 12px;
  top: 20px;
  font-size: 35px;
  display: block;
  height: 30px;
}

#navtoggle-icon.open {
  margin-top:10px;
}

nav > ul > li > a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
  font-family: 'Cabin Sketch', sans-serif;
  font-size: 1.4em;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive {
  height: 100vh;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #586960;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
  border:none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-row .flex-column div, .icon-row .flex-column a {
  height:  32px;
}

.about picture {
  display: block;
  max-height: 560px;
  overflow: hidden;
  border-radius: 6px;
}

nav > ul > li {
  display: inline-block;
  text-align: left;
}

body.project-page #navigation {
  box-shadow: none;
}

/******************** General ********************/

.button {
  display: inline-block;
  font-weight: 400;
  color: #FFF8F0;
  text-decoration: none;
  padding: 8px 10px 6px;
  margin: 5px 0;
  background: #33484B;
  border: 1px solid #586960;
  border-top: 2px solid #586960;
  border-bottom: 2px solid #131e20;
  border-radius: 5px;
  transition: background 200ms ease, color 200ms ease;
}

.button:hover, .button:focus, .button:active {
  background: #23393c;
  color: #B4AEF1;
  margin: 6px 0 4px;
  border-color: #586960;
}

#jump-menu .button.toggle {
  padding: 0;
  margin: 0;
  min-width: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button.secondary {
  background: none;
  color: #33484B;
  border-width: 2px;
}

.button.secondary:hover, .button.secondary:focus {
  background: #586960;
  color: #FFF8F0;
  border-color: #33484B;
}

.social-link {
  display: inline-flex;
  margin: 5px;
  width: 55px;
  height: 55px;
  background: #586960;
  border-radius: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-decoration: none;
  color: #fff8f0;
  font-size: 1.5em;
  transition: 300ms ease;
}

.social-link:hover, .social-link:focus {
  background: #33484b;
  color: #B4AEF1;
}

.socials {
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 100%;
  width:65px;
  border-radius:4px
}


/*********************** General Project Page **********************/

.project-page picture {
  width: fit-content;
  margin: 0 auto;
  display: block;
}

.project-page .area-header-link img {
  max-height: 80vh;
}

.project-page .iframe-wrap {
  background: black;
  width: -webkit-fill-available;
  height: 80vh;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.project-page .iframe-wrap iframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border-width: 1px;
}

.project-page .iframe-wrap:after {
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  transition: 300ms ease;
}

.project-page .iframe-wrap:hover:after {
  opacity: 0;
  pointer-events: none;
}

@media (pointer:coarse) { 
  .project-page .iframe-wrap:after {
    display:none;
  }
}

[class*="mockup-wrapper"] {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  align-items: center;
  justify-content: center;
}

[class*="mockup-wrapper"] picture {
  margin: 10px;
  filter: drop-shadow(2px 2px 2px #5a3c2162) drop-shadow(12px 12px 10px #5a3c2192);
}

.small-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  align-items: center;
  justify-content: center;
}

.small-flex-wrapper img {
  flex: 1 1 50%;
  max-width: 200px;
}

.project-page .small-flex-wrapper picture {
  margin: 0 10px;
}

#jump-menu {
  width: 100%;
  padding: 5px 20px;
  background: #fff8f0;
  left: 0;
  box-shadow: 0 2px 5px #131e20;
  font-size: 80%;
  height: 35px;
  transition: 300ms ease;
  overflow: hidden;
}

#navigation.scrolled #jump-menu {
  padding-right: 80px;
}

#jump-menu li:not(:first-child) {
  display: inline;
  width: 0;
  height: 0;
  opacity: 0;
  transition: 200ms ease;
  overflow: hidden;
}

#jump-menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

#jump-menu li {
  display: inline-block;
  margin-right: 10px;
}

#jump-menu .button {
  padding: 4px 10px 2px;
  min-width: 60px;
  text-align: center;
  margin: 0 0 5px;
}

#jump-menu .button.toggle {
  transform: rotate(45deg);
  transition: 200ms ease;
}

#jump-menu.open {
  min-height: fit-content;
}

#jump-menu.open li:not(:first-child) { 
  display: inline-block;
  width: auto;
  height: auto;
  opacity: 1;
  overflow: auto;
}

#jump-menu.open .button.toggle {
  transform: rotate(0deg);
}

.colour-palette {
  padding: 10px;
  width: fit-content;
  margin-right: auto;
}

.swatches {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.colour-palette li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swatch {
  margin: 10px;
  max-width: 120px;
  max-height: 120px;
  height: 18vw;
  width: 18vw;
  min-height: 80px;
  min-width: 80px;
  border-radius: 100%;
  background: red;
  border: 1px solid transparent;
}

/********************** Contact Page *********************/

#contact iframe {
  width: 100%;
  min-height: 1450px;
  filter: drop-shadow(0 0 5px #fff8f1);
  background: linear-gradient(0deg, #eff0e9, transparent 300px);
  animation: 00ms fade-in;
}

.contact-wrap {
  text-align: center;
  background: url(../img/floral-green.jpg);
  background-size: 450px;
  padding: 10px 0;
  border-radius: 10px;
  margin: auto;
  width: fit-content;
  width: 100%;
  border: 1px solid #98b29b;
}

/********************************************* Media Queries ********************************************/

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {

  #hero h1 {
    font-size: 2.8em;
  }

  #jump-menu {
    height: auto;
  }


  #hero p {
    line-height: 1.6;
  }

  .row {
    margin: 0;
  }

  .icon-row {
    display: inline-flex;
    justify-content: center;
  }

  #home .button {
    padding: 10px 20px 8px;
  }

  main {
    padding-top: 90px;
    overflow: hidden;
  }

  #hero div {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
  }

  body.project-page main {
    padding-top: 140px;
  }

  .col-md-6 {
    width: 50%;
  }

  .skills-and-tools .col-md-6 {
    margin: 0 0 20px;
    padding-top: 0;
  }

  [class*="col-md"] {
    float: left;
    padding: 10px;
  }

  .row:after {
    content: "";
    clear: both;
    display: table;
  }

  .project-container {
    padding: 40px 0;
  }

  div.project-container:first-of-type {
    padding-top: 20px;
  }

  .about picture {
    float: left;
    width: 50%;
    margin: 0 20px 0 0;
  }

}

/*Contact Form ( 800px or larger) */
@media only screen and (min-width: 800px) {
  .contact-wrap {
    max-width: 780px;
    width: auto;
    padding: 2vw;
  }

  #contact iframe {
    min-height: 1380px;
  }
}

/*Large devices (1024px or larger)*/
@media only screen and (min-width: 1024px) {

  /* code for the menu */
  nav > ul > li > a {
    font-size: 1.8em;
  }

  h2 {
    margin: 10px 0 10px;
  }

  #navigation {
    text-align: unset;
  }

  nav > ul > li {
    text-align: center;
  }

  nav > ul {
    margin: 10px 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: height 200ms 200ms ease, width 200ms ease;
      width: 100%;
      overflow: hidden;
      position: relative;
      right: 0;
  }

  .navtoggle.absolute {
    position: absolute;
  }

  .navtoggle.scrolled {
    height: 55px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 0 0 0 14px;
  }

  .navtoggle.scrolled .icon-row, .navtoggle.scrolled ul {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .navtoggle.absolute .icon-row, .navtoggle.absolute ul {
    pointer-events: none;
  }

  .navtoggle .icon-row, .navtoggle ul {
    transition: 500ms opacity ease;
  }

  .navtoggle.scrolled:after {
    content: '+menu';
    color: white;
    flex-grow: 1;
  }

  #jump-menu {
    height: auto;
    max-height: 20vh;
    transition: max-height 400ms ease, padding 300ms ease;
  }

  #jump-menu.minimized {
    max-height: 0;
    padding: 0;
    transition: none;
  }

  #jump-menu .button {
    margin: 5px 0;
  }

  #jump-menu li:not(:first-child) {
    display: inline-block;
    width: auto;
    height: auto;
    opacity: 1;
    overflow: auto;
  }

  #jump-menu .button.toggle {
    display: none;
  }

  /* code for the menu */

  #hero h1 {
    font-size: 3em;
  }
  
  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  [class*="col-lg"] {
    float: left;
    padding: 10px;
  }

  .skills-and-tools .col-md-6 {
    float: none;
    width: 100%;
  }

  .mockup-wrapper-tablet picture {
    max-width: 40%;
  }

  #High-Fidelity [class*="mockup-wrapper"] picture {
    max-width: 45%;
  }

  .responsive.flex-container {
    display: flex;
    justify-content: center;
  }

  .responsive.flex-container.wrap {
    flex-wrap: wrap;
  }

  .flex-container picture {
    margin: 5px;
  }

}

/* X-large devices (1440px or larger)*/
@media only screen and (min-width: 1440px) {

}


